{{ define "main" }}
    <div class="row">
        <div class="col-12">
            {{ .Content }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 u-vertically-center u-align--right" style="grid-auto-flow: column">
            <div class="p-search-and-filter">
                <div
                class="p-search-and-filter__search-container"
                aria-expanded="false"
                data-active="true"
                data-empty="true"
                >
                    <input
                        autocomplete="off"
                        class="p-search-and-filter__input"
                        id="table-filter-textbox"
                        placeholder="Filter repositories"
                        type="search"
                        value=""
                    />
                </div>
            </div>
            <span>&emsp;</span>
            <label class="p-switch">
                <input type="checkbox" class="p-switch__input" role="switch" id="toggle-all-rows" />
                <span class="p-switch__slider"></span>
                <span class="p-switch__label">Expand all</span>
            </label>
        </div>
        <div class="row p-strip is-shallow">
            {{- range $team := .Site.Data.repos -}}
                <div>
                    {{- partial "team-table" (dict "team" $team ) -}}
                </div>
            {{- end -}}
        </div>
    </div>
{{ end }}
{{ define "scripts" }}
    (() => {
        {{- partial "js/modal.js" . | safeJS -}}
        {{- partial "js/sortable.js" . | safeJS -}}
        {{- partial "js/expand.js" . | safeJS -}}
        {{- partial "js/accordion.js" . | safeJS -}}
    })();
{{ end }}